<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BambooHR.NET.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="BambooHR.NET.Test.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="BambooHR.NET.Test.app" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BambooHR.NET.Test.Properties.Settings>
            <setting name="API_KEY" serializeAs="String">
                <value>Y0Ur_B@mB00HR_AP!_K3Y</value>
            </setting>
            <setting name="COMPANY_SUBDOMAIN" serializeAs="String">
                <value>companysubdomain</value>
            </setting>
        </BambooHR.NET.Test.Properties.Settings>
    </applicationSettings>
</configuration>